<div class="main_content">

<p id="notice"><%= notice %></p>

<h1>Photos</h1>
<center>
<h3>Please select a photo to view details and add comments.</h3>

<% @photos.each do |photo| %>
	<div class="photo_album">
	<%= link_to photo do %>
	<img src="<%= photo.image.profile_size %>" class="photo_list">
	<% end %>
	</div>
<% end %>
</center>
<br>

<%if logged_in? %>
	<% if current_user.role == 'admin' %>
		<%= link_to 'New Photo', new_photo_path %>
	<% end %>
<% end %>

</div>
