<div class="main_content">

<% @COUNTRIES = Photo.pluck(:country).sort %>
<% @COUNTRIES_LENGTH = @COUNTRIES.length %>
<% @TABLE_ROWS = (@COUNTRIES_LENGTH / 3).ceil %>

<h1>Countries</h1>
<center>
<h3>Please select a country to view pictures.</h3>
<table class="countries_table">

<% for x in 0..@TABLE_ROWS %>
	<tr>
	<%for i in 0..2 %>
		<% if @COUNTRIES.empty? then %>
			<%	break %>
			<% end %>
		<td class="country_search">
		<% @photos = Photo.search(country: @COUNTRIES[0]) %>
		<h4><a href="/photos?utf8=✓&country=<%= @COUNTRIES[0] %>&year=">
		<img src="<%= @photos.first.image.profile_size %>" class="country_photo">
		<%= @COUNTRIES[0] %></a></h4>
		</td>
		<% @COUNTRIES.shift %>
		<% i += 1 %>
	<% end %>
	<% x += 1 %>
<% end %>

</tr>
</table>
</center>
</div>
