// Place all the styles related to the countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.country-search {
	text-align: center;
  	padding: 20px;
}

.country-photo {
	display: block;
	text-align: center;
}
